@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;669;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;469;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grenze:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Righteous&display=swap');
@import 'shared/variables.css';
@import 'shared/header.css';
@import 'shared/buttons.css';

:root {
    /* font-family: 'Maven Pro', sans-serif; */
    /* font-family: 'Cuprum', sans-serif; */
    /* font-family: 'Ubuntu', sans-serif; */
    /* font-family: 'Yanone Kaffeesatz', sans-serif; */
    /* font-family: 'Baloo Chettan 2', cursive; */
    /* font-family: 'Varela Round', sans-serif; */
    /* font-family: 'Fredoka One', cursive; */
    /* font-family: 'Chau Philomene One', sans-serif; */
    /* font-family: 'Concert One', cursive; */
    /* font-family: 'Grenze', serif; */
    /* font-family: 'Mitr', sans-serif;  */
    font-family: 'Lalezar', cursive;
    /* font-family: 'Righteous', cursive; */
    font-size: 20px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: #36393F;
}

.container {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 3rem;
}

.inner-container {
    margin: 0 2rem;
}

.page-header {
    color: rgb(159, 203, 219);
}