<h2>Search Mangas</h2>
<form action="/mangas" method="GET">
    <div>
        <label>Title</label>
        <input type="text" name="title" value="<%= searchOptions.title %>">
    </div>
    <button type="submit">Search</button>
</form>
<div>
    <% mangas.forEach(manga => { %>
        <a href="/mangas/<%= manga.id %> ">
            <img height="150" width="100" src="<%= manga.coverImagePath %> ">
            <%= manga.title %>
        </a>
    <% }) %>
</div>