<h2>Edit User</h2>
<form action="/users/<%= user.id %>?_method=PUT" method="POST">
    <%- include('formCreate') %>
    <a href="/users/<%= user.id %>">Cancel</a>
    <button type="submit">Update</button>
</form>